DB_URL=jdbc:postgresql://localhost:5432/biblioteca
DB_USERNAME=postgres
DB_PASSWORD=postgres
# Si cambias esto, actualiza tambien HOST en environment.ts o environment.development.ts (biblioteca-frontend/src/environments/)
SERVER_PORT=8080
